<h2><%= @nest.historicalName%></h2>
<h4>streetName: <%= @nest.streetName%></h4>
<h4>streetNumber: <%= @nest.streetNumber%></h4>
<h4>grade: <%= @nest.grade%></h4>
<h4>locationAddress: <%= @nest.locationAddress%></h4>
<h4>constructionDate: <%= @nest.constructionDate%></h4>
<h4><%= @nest.pokemon.name%></h4>

