<h2 class ="subtitle is-2">List of request</h2>
<% if @requests.empty?%>
  <p>There are no requests available.</p>
<%else%>
<p><%=paginate @requests%></p>
  <%@requests.each do |request|%>
    <div class = "box">
      <button class="button is-light"><%= link_to request.serviceRequest, request %></button>
      <div class="content">
        <h4>Department :<%= request.serviceArea%></h4>
        <h4><%= request.date %></h4>
      </div>
    </div>
  <% end %>
<p><%=paginate @requests%></p>
<%end%>