<!DOCTYPE html>
<html>
  <head>
    <title>PokemonIncidentReport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        width:80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body, .container {
        height: 100%;
      }
    </style>
  </head>
  <div class="container">
    <body>
    <header>
    <h1>311 Pokemon service request system</h1>
      <p>
        <%= link_to 'Home', root_path%>
        <%= link_to 'Pokemons', pokemons_path%>
        <%= link_to 'Pokemon nests', pokemonnests_path%>
        <%= link_to 'About Us', permalink_path('about_us')%>
      </p>
    </header>
      <%= yield %>
      <footer>
        Pokemon coffee right.
      </footer>
    </body>
  </div>
</html>
